<h1>Vagrant <small>Help, Guides and reference material</small></h1>
<p>These are guides to help you use and understand Atlas features.
    If you can't find what you're looking for or have a
    suggestion for content improvements please email <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>.</p>

<hr>

<h3>Boxes</h3>
<ul>
	<li><%= link_to "Finding and Using Boxes", help_topic_path("vagrant/boxes/using") %></li>
	<li><%= link_to "Creating a Box", help_topic_path("vagrant/boxes/create") %></li>
	<li><%= link_to "Creating a New Box Version", help_topic_path("vagrant/boxes/create-version") %></li>
	<li><%= link_to "Box Release Lifecycle", help_topic_path("vagrant/boxes/lifecycle") %></li>
    <li><%= link_to "Private Boxes", help_topic_path("vagrant/boxes/private") %></li>
    <li><%= link_to "Release Workflow", help_topic_path("vagrant/boxes/release-workflow") %></li>
</ul>

<hr>

<h3>Shares</h3>
<ul>
	<li><%= link_to "What are Shares?", help_topic_path("vagrant/shares/what") %></li>
    <li><%= link_to "Creating a Share", help_topic_path("vagrant/shares/create") %></li>
    <li><%= link_to "Troubleshooting Vagrant Share", help_topic_path("vagrant/shares/troubleshooting") %></li>
    <li><%= link_to "Using Vagrant Share with Wordpress", help_topic_path("vagrant/shares/wordpress") %></li>
    <li><%= link_to "Custom Share Domains", help_topic_path("vagrant/shares/custom") %></li>
    <li><%= link_to "Custom Share Names", help_topic_path("vagrant/shares/custom-names") %></li>
</ul>

<hr>

<h3>Atlas</h3>
<ul>
    <li><%= link_to "Installing Vagrant 1.5", help_topic_path("vagrant/cloud/vagrant-1-5") %></li>
    <li><%= link_to "Organization Accounts", help_topic_path("vagrant/cloud/organizations") %></li>
    <li><%= link_to "Migrate Organization", help_topic_path("vagrant/cloud/migrate-organization") %></li>
</ul>
