<h1>Atlas <small>Overview, tutorial, and reference materials</small></h1>
<p>These are materials to help you use and understand Atlas. If you can't find what you're looking for or have a suggestion for content improvements please email <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>.</p>

<hr>

<h3>What is Atlas?</h3>
<p>Atlas is one foundation to manage and provide visibility to your servers, containers, VMs, configuration management, service discovery, and additional operations services. As more operations choices are added to your data center, whether through a growing development team, company acquisitions, or general technical debt, managing complexity between legacy and new systems becomes a challenge. But no matter what stage your organization is in, the end goal is always the same — safely deploy and manage your infrastructure. Atlas helps companies achieve that goal with one workflow to move from development to production, and one dashboard to monitor and maintain infrastructure on any provider.</p>

<hr>

<h3>Getting Started Tutorial</h3>
<ul>
    <li><%= link_to "Overview: Launching an application on 2-tier AWS infrastructure", help_topic_path("getting-started/getting-started-overview") %></li>
    <li><%= link_to "Layout infrastructure with a Terraform configuration", help_topic_path("getting-started/layout-infrastructure") %></li>
    <li><%= link_to "Package services with artifacts", help_topic_path("getting-started/package-services-with-artifacts") %></li>
    <li><%= link_to "Deploy fully configured infrastructure", help_topic_path("getting-started/deploy-fully-configured-infrastructure") %></li>
    <li><%= link_to "Run your application on infrastructure", help_topic_path("getting-started/run-your-application") %></li>
    <li><%= link_to "Start transitioning your stack to Atlas", help_topic_path("getting-started/transition-to-Atlas") %></li>
</ul>

<hr>

<h3>Use Cases</h3>
<ul>
	<li><%= link_to "Transition your organization to DevOps a workflow", help_topic_path("use-cases/adopt-devops") %></li>
    <li><%= link_to "Migrate your infrastructure to the cloud", help_topic_path("use-cases/migrate-to-cloud") %></li>
    <li><%= link_to "Multi-cloud Deployments", help_topic_path("use-cases/hybrid-cloud-deployments") %></li>
    <!-- Comment out until GA
    <li><%= link_to "Save money and reduce server fleet size by optimizing resource utilization", help_topic_path("use-cases/save-money") %></li>
    -->
    <li><%= link_to "Use one workflow to move from development to production on any infrastructure", help_topic_path("use-cases/one-workflow") %></li>
    <li><%= link_to "Use one dashboard to monitor and maintain infrastructure on any infrastructure", help_topic_path("use-cases/one-dashboard") %></li>
</ul>

<hr>

<h3 id="comparison">Atlas vs Other Software</h3>
<ul>
    <li><%= link_to "Platform-as-a-Service (PaaS) - Heroku, CloudFoundry, etc", help_topic_path("comparison/paas") %></li>
    <li><%= link_to "Public Cloud - AWS, GCE, Rackspace, etc", help_topic_path("comparison/public-cloud") %></li>
    <li><%= link_to "Configuration Management - Puppet, Chef, Ansible, Salt, etc", help_topic_path("comparison/configuration-management") %></li>
    <li><%= link_to "Infrastructure Management - CloudFormation, Heat, etc", help_topic_path("comparison/infrastructure-management") %></li>
    <li><%= link_to "HashiCorp Open Source Software - Vagrant, Packer, Consul, Terraform", help_topic_path("comparison/hashicorp-oss") %></li>
</ul>

<hr>

<h3 id="guides">Guides: How to use Atlas with your existing services</h3>
<ul>
    <li><%= link_to "How to use Atlas with continuous integration", help_topic_path("guides/continuous-integration") %></li>
    <li><%= link_to "How to use Atlas with GitHub", help_topic_path("guides/version-control") %></li>
    <li><%= link_to "How to use Atlas with containers", help_topic_path("guides/containers") %></li>
    <li><%= link_to "How to use Atlas with configuration management tools", help_topic_path("guides/configuration-management") %></li>
    <li><%= link_to "How to use Atlas with public cloud providers", help_topic_path("guides/public-cloud") %></li>
</ul>

<hr>

<h3>Atlas Documentation</h3>
<ul>
    <li><%= link_to "Applications and Development Environments", help_topic_path("documentation/applications-and-dev-environments") %></li>
    <li><%= link_to "Artifacts and Services", help_topic_path("documentation/artifacts") %></li>
    <li><%= link_to "Infrastructure Layout and Creation", help_topic_path("documentation/infrastructure-layout") %></li>
    <li><%= link_to "Infrastructure Monitoring and Health", help_topic_path("documentation/infrastructure-monitoring") %></li>
</ul>
